# Virtual environments
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system files
.DS_Store
Thumbs.db

# Cryptographic Keys (Crucial: Do not commit keys to Git!)
keys/
